.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  width: 250px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 20px;
  background: #E6D8C3;
  border-radius: 8px;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.loginForm label {
  font-weight: 600;
}

#login-button {
  padding: 8px;
  background: #5D866C;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#login-button:hover {
  background: #77a989;
}

input {
    border-radius: 4px;
    border: none;
    outline: none;
    height: 25px;
    text-align: center;
}