html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.tabs {
    display: flex;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    box-sizing: border-box;
}

.tabs_sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #f5f5f5;
    border-right: 2px solid black;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.tab_button {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s;
}

.tab_button:hover {
    background-color: #eee;
}

.tab_button--active {
    background-color: #ddd;
    font-weight: bold;
}

.tab_content {
    flex-grow: 1;
    border: 1px solid black;
    margin: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
    box-sizing: border-box;
}

.tab_content--active {
    display: flex;
}
