* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: dodgerblue;
    text-align: center;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 10px;
}

#contact {
    padding-right: 10px;
}