.weather-main {
  height: 100vh;
  background-color: #0d1117;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.weather-main h1 {
  margin-bottom: 16px;
  font-size: 40px;
  color: #c6d0f5;
}

.weather-main p {
  height: 100vh;
  margin: 0;
  color: #9aa3b2;
}

.weather-status {
  margin-top: 20px;
  padding: 16px 20px;
  border-radius: 8px;
  background-color: #11151c;
  color: #a6d189;
  font-size: 14px;
}

.weather-card {
  margin-top: 20px;
  padding: 20px;
  background-color: #11151c;
  color: white;
  border-radius: 10px;
  width: 400px;
  font-size: 20px;
  line-height: 2.0;
}

.weather-card h2 {
  margin-top: 0;
  margin-bottom: 25px;
  color: #a6d189;
  font-size: 30px;
}